TOKEN=

ENV=dev
DB_URL=sqlite+aiosqlite:///./db.sqlite3
ADMIN_IDS=

DEBUG=0
DEBUG_INCOMING=1
DEBUG_UPDATES_FULL=0
DEBUG_OUTGOING=0
DEBUG_SQL=0
ENABLE_DEBUG_MW=0
LOG_LEVEL=INFO

RESET_DB=0


DEMO_PROFILE=photographer
SEED_DEMO=0

ENABLE_BOOKING=1
ENABLE_LEADS=0
ENABLE_SHOP=0
ENABLE_GROUPS=0

# backward compatibility
ENABLE_PLUGIN_SHOP=0
ENABLE_PLUGIN_GROUPS=0
BOOKING_TIMEZONE=UTC
